@import "form";
@import "static";
@import "button";

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

input, button, textarea, select {
  padding: .5rem 1rem .5rem 1rem;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
}

input::placeholder, textarea::placeholder {
  color: white;
}
input:focus {
  outline: none
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
